
h1 {
    text-align: center;
    color: black;
}
header {
    background-color: darkgray;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 0;
  }
ul {
    margin: 20px auto;
    padding: 0 20px;
    display: inline;
}
  
li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline;
    width: 80px;  
}
body {
    background-color: lightgray;
    margin: 0px;
    height: 800px;
    position: relative;
    top: 98px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.right a {
    padding: 0 10px;
}

  
.left li+li::before {
    color: black;
    content: "\01F81E";
    padding: 0 10px;
}
  
.left a {
    text-decoration: none;
}
  
.left a:hover {
    color: red;
}